<h2>Pirates:</h2>
<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>


<% @ships.each do |ship| %>
    <div class="ship">
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
    </div><br>
  <% end %> 

